flask==3.1.0
appdirs==1.4.4

atomicwrites==1.4.0

et-xmlfile==1.1.0

gunicorn==23.0.0

inflection==0.5.1

matplotlib==3.10.0

ply==3.11

protobuf==4.25.3

pyasn1-modules==0.2.8

PyDispatcher==2.0.5

pyls-spyder==0.4.0

PyQt5==5.15.10

PyQtWebEngine==5.15.6

sympy==1.13.1
torch==2.6.0
torchvision==0.21.0

webencodings==0.5.1
